/* Settings
* ==================
* Basic styling using tag selectors
*/

@import 'settings.scss';

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: $font-weight-semi-bold;
  line-height: 1.2;
}

h1 {
  font-size: $font-size-big;
}

h2 {
  font-size: $font-size-medium;
}

h3 {
  font-size: $font-size-normal;
}

a {
  text-decoration: none;
  color: $text-color;
  cursor: pointer;

  &:visited{
    color: $text-color;
  }
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

hr {
  height: 0;
  border: 0;
}

.button, a.button, button, [type=submit], [type=reset], [type=button] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

p,
ol,
ul,
dl,
table {
  margin: 0 o 12px 0;
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li ul {
  margin-bottom: 0;
}

ol li ol {
  margin-bottom: 0;
}

input {
  font-size: inherit;
  color: inherit;
  outline: none;
  border: 1px solid $grey-20;
  border-radius: 4px;

  &::placeholder {
    color: $grey-40;
  }
}
