@import './settings.scss';

.comment-card {
  border: 1px solid $grey-80;
  border-radius: 5px;
  padding: $space-normal;

  & > .text {
    margin: 0;
  }

  & > .footer {
    margin-top: $space-small;
    display: flex;
    justify-content: space-between;

    & > .author::before {
      content: '@';
    }

    & > .author {
      margin: 0;
    }

    & > .likes {
      & > .heart{
        &::before {
          content: '\2665';
          color: #ccc;
          border-color: #000;
          font-size: 1.4em;
          vertical-align: middle;
          padding-left: 4px;
        }

        &.liked:before {
          color: #ffee1e;
        }
      }
    }
  }
}

.comment-card + .comment-card {
  margin-top: $space-medium;
}
