/* colors */
$card-shadow: 0 2px 8px 0 rgba(200, 200, 200, 0.5);

$grey-100: #4a4a4a;
$grey-80: #7a7b7c;
$grey-60: #a0a2a4;
$grey-40: #d4d7da;
$grey-20: #ebeced;
$grey-0: #e9e9e9;
$white: #fff;

$pink: #dc1468;
$orange: #ff9f45;
$green: #51c874;
$blue: #4a90e2;
$yellow: #ffee1e;

$text-color: $grey-100;

/* media queries */
$width-p: 769px;

/* fonts */
$font-size-mini: 10px;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-medium: 16px;
$font-size-big: 24px;

$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

/* space sizes */

$space-mini: 4px;
$space-small: 8px;
$space-normal: 16px;
$space-medium: 24px;
$space-big: 36px;
