body {
  margin: 0;
}

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal 400 14px 'Open Sans', sans-serif;
}

body {
  color: #4a4a4a;;
  background: #fff;
}

.main-container {
  padding: 16px 24px;
}

likable-comment {
  display: block;
}

likable-comment + likable-comment {
  margin-top: 24px;
}
